<div id='docColumn'>
    <h5>Template</h5>
<pre>\{{svg-chart
    series=data
    type=chartType
    xAxisLabels=xAxisLabels
    xAxisTitle='Demo Chart'
    yAxisTitle='Some Numbers'
}}</pre>

    <h5>Controller</h5>
<pre>chartType: 'column',

xAxisLabels: [
    'first', 'second', 'third', 'fourth', 'fifth'
],

data: [
    {
        title: 'set one',
        data: [.30, .60, .40, .70, .10]
    },
    {
        title: 'set 2',
        data: [.20, .50, .20, .50, .20]
    },
    {
        title: 'third set',
        data: [.30, .40, .30, .40, .10]
    }
]</pre>
</div>

<div id='exampleColumn'>
    Chart Type:
    <select id="chartPicker" {{action 'change' on='change'}}>
        {{#each chartTypes key="@index" as |type|}}
            <option value="{{type}}">
                {{type}}
            </option>
        {{/each}}
    </select>

    <br /><br />

    {{svg-chart
        series=data
        type=chartType
        xAxisLabels=xAxisLabels
        xAxisTitle='Demo Chart'
        yAxisTitle='Some Numbers'
    }}
</div>
